html {
  scroll-behavior: smooth;
}

h1 {
  //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-family: "Helvetica Neue";
}

body{
  //font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  //font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-family: "Open Sans";
  line-height: 150%;
  font-size: 15px;
}

@media only screen and (max-width: 768px) {
  .sidebar{
    display: none;
  }
}

.pageScrollButton {
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: forestgreen;
  border-radius: 30%;
  border-color: black;

  a {
    color: white;
  }
}

.subScribe {

}

.aboutPage {
  border-radius: 50%;
  transition: box-shadow 0.3s ease-in-out;
}

.aboutPage:hover{
  box-shadow: 0 0 10px deepskyblue;
}

.subscribeButton {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: #007BFF;
  border-radius: 20%;

  a{
    color: white;
  }
}