@import "../variables";
.card-img-top {
  width: 100%;
  height: 16vw;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .bbb{
    height: 50vw;
  }
}

.card {
  transition: transform 0.3s ease-in-out;
}

.card:hover{
  transform: scale(1.04);
}
